.ticket-infos-container {
    -fx-border-width: 2;
    -fx-border-style: hidden;
    -fx-border-radius: 8px;
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-padding: 8px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0, 0, 0);
}

.ticket-chat-global-container {
    -fx-background-radius: 8px;
    -fx-border-style: hidden;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 8, 0, 0, 0);
}

.ticket-info-type-text {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #0D1A30;
}

.ticket-info-value-text {
    -fx-font-size: 12;
    -fx-text-fill: black;
}

.ticket-chat-container {
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-min-width: 750px;
    -fx-pref-width: 750px;
}

.ticket-chat-scrollpane {
    -fx-min-width: 350px;
    -fx-max-height: 300px;
    -fx-min-height: 200px;
}

.ticket-chat-text-title {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-text-fill: black;
}

.message-box {
    -fx-background-radius: 10px;
    -fx-border-style: hidden;
    -fx-padding: 6px;
}

.message-other-box {
    -fx-background-color: #A1C6EA;
    -fx-text-fill: black;
}

.message-author-box {
    -fx-background-color: #0D1A30;
    -fx-text-fill: white;
}

.message-author-box Label {
    -fx-text-fill: white;
}

.difficulty-ticket-combobox {
    -fx-padding: 5px;
    -fx-border-radius: 4px;
}

.message-image-box {
    /*-fx-pref-width: 550px;
    -fx-max-width: 50px;
    -fx-fit-to-width: 50px;
    -fx-pref-height: 50px;*/
}

.user-pfp-image {
    -fx-border-radius: 40px;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
    -fx-background-radius: 100;
}

/* Buttons */

.change-ticket-status-button, .save-new-difficulty-button {
    -fx-padding: 8px;
    -fx-border-style: hidden;
    -fx-border-radius: 8px;
}

.change-ticket-status-button:hover,
.save-new-difficulty-button:hover,
.go-back-dashboard-button:hover,
.chat-button-action {
    -fx-cursor: hand;
}

.open-ticket-color, .chat-button-action {
    -fx-background-color: #A1C6EA;
}

.resolve-ticket-color {
    -fx-text-fill: white;
    -fx-background-color: #e52a2a;
}

.save-new-difficulty-button {
    -fx-background-color: #509e57;
}

.chat-button-action, .go-back-dashboard-button {
    -fx-padding: 6px;
    -fx-border-radius: 10px;
}

.go-back-dashboard-button {
    -fx-background-color: #e0dfdf;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;
    -fx-border-color: #9a9a9a;
}

.go-back-dashboard-button:hover {
    -fx-background-color: #a6a6a6;
    -fx-text-fill: white;
}

.chat-message-input {
    -fx-border-color: gray;
    -fx-padding: 6px;
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;
}

.chat-actions-inputs-container {
    -fx-background-color: rgba(183, 183, 183, 0.53);
}