.stockInformationsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stockInformationsRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 32px;
}
.rowDashboardComponent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.totalStock *{
    color: #507DBC;
}
.drinkStock *{
    color: #59ACD0;
}
.foodStock *{
    color: #E04040;
}
.nearDlcStock *{
    color: #FF0000;
}
.dlcStock *{
    color: #E9B121;
}
.missingStock *{
    color: #C19871;
}
.expectedStockDown *{
    color: #AD00FF;
}
.futurCollect *{
    color: #67BB34;
}
.componentDashboard{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    cursor: pointer;
    width: 250px;
    height: 100px;
}
.rowDashboardComponent p{
    font-size: 24px;
}
.componentDashboard > p{
    font-size: 16px;
}
.rowDashboardComponent span{
    font-size: 24px;
}
.warehouseContent{
    position: relative;
    margin-left: 5vw;
    min-height: 75vh;
}
.rowDashboardGrid{
    margin-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rowDashboardGrid h2{
    text-align: center;
}
.rowDashboardGrid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.none{
    display: none !important;
}
.popUpChart{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popUpContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    min-width: 40vw;
    min-height: 40vh;
    border-radius: 8px;
}
.popUpHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pointer{
    cursor: pointer;
}

.popUpChartTotalStock{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}